#txt1 {
    color: #365463
}

#formu {
    width: 555px;
    margin: auto;
    height: 375px;
}

#btConsultar {
    background: #04B195;
    border: none;
    height: 43px;
}

#DatadeVolta,
#DatadePartida,
#Origem,
#Destino {
    margin-top: -10px;
    ;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
}

#DatadeVolta:focus,
#DatadePartida:focus,
#Origem:focus,
#Destino:focus {
    box-shadow: none;
}