#brand {
    letter-spacing: 1px;
    font: bold;
    font-size: 15px;
    text-transform: uppercase;
}

#barraMenuTopo {
    font: bold;
    font-size: 13px;
    text-transform: uppercase;
}

#nav {
    background-color: #365463;
}