<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #365463;">
    <a class="navbar-brand ml-5" href="#" id="brand"><b>PORTAL DE VIAGENS</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barraMenuTopo" aria-controls="barraMenuTopo" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-5" id="barraMenuTopo">
        <ul class="navbar-nav">
            <li class=" nav-item">
                <a class="nav-link" href="# " style="color: white;"><b>DESTINO</b></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="# " style="color: white;"><b>VALORES</b></a>
            </li>
            <li class="nav-item th-dark">
                <a class="nav-link" href="# " style="color: white;"><b>CONTATO</b></a>
            </li>
        </ul>
    </div>
</nav>